.specstory/
.vscode/
.vs/
.cline/

*.code-workspace

chat_copy.md
chatlog_ende.txt
/# Error.md

AudioClip/
Code/backendServer/Program-Backend/Sugoi-Audio-Video-Translator/INPUT/
Code/backendServer/Program-Backend/Sugoi-Audio-Video-Translator/OUTPUT/
Code/backendServer/Program-Backend/Sugoi-Audio-Video-Translator/HF_CACHE/

Code/backendServer/Modules/Translation-API-Server/Offline_Japan/Sugoi_Model/

Code/Power-Source/

__pycache__/
*.pyc
*.pyo
*.pyd
Code/backendServer/Program-Backend/Sugoi-Audio-Video-Translator/whisper_small/model.bin
/Code/backendServer/Program-Backend/Sugoi-Audio-Video-Translator/whisper_small/tokenizer.json"
/Code/backendServer/Program-Backend/Sugoi-Audio-Video-Translator/whisper_small/vocabulary.txt"
cconfig.json"
S:\Sugoi_AV_CUDA_Test\Code\backendServer\Program-Backend\Sugoi-Audio-Video-Translator\whisper_small\tokenizer.json"
S:\Sugoi_AV_CUDA_Test\Code\backendServer\Program-Backend\Sugoi-Audio-Video-Translator\whisper_small\vocabulary.txt"
S:\Sugoi_AV_CUDA_Test\Code\backendServer\Program-Backend\Sugoi-Audio-Video-Translator\whisper_small\config.json"*
S:\Sugoi_AV_CUDA_Test\Code\backendServer\Program-Backend\Sugoi-Audio-Video-Translator\whisper_small\tokenizer.json"
S:\Sugoi_AV_CUDA_Test\Code\backendServer\Program-Backend\Sugoi-Audio-Video-Translator\whisper_small\vocabulary.txt"
S:\Sugoi_AV_CUDA_Test\Code\backendServer\Program-Backend\Sugoi-Audio-Video-Translator\whisper_small\config"
Code/backendServer/Program-Backend/Sugoi-Audio-Video-Translator/whisper_small/model.7z.*
Code/backendServer/Program-Backend/Sugoi-Audio-Video-Translator/whisper_small/config.json
Code/backendServer/Program-Backend/Sugoi-Audio-Video-Translator/whisper_small/tokenizer.json
Code/backendServer/Program-Backend/Sugoi-Audio-Video-Translator/whisper_small/vocabulary.txt
